# Node.js 패키지들
node_modules/

# 로그 파일
*.log

# 환경 변수 파일
.env

# npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영체제에 의해 생성되는 파일들
.DS_Store
Thumbs.db

# 빌드 결과물
dist/
build/

# IDE 설정 파일
.vscode/
.idea/

# 기타
*.swp
*.swo
